* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 5rem;
  font-weight: bold;
  padding: 3rem;
  color: white;
}

.coming-soon {
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.day, .hour, .minute, .second {
  font-size: 3rem;
}

.waiting {
  height: 50vh;
  padding-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
